* @aboltin.nikita @bilevskiy.a @bogachek.lev @chernosov.denis @fedotov.gleb @kostylev.egor @kuzmin.ilya39 @lykshitov.a @mihaylov.igor51 @momotyuk.dmitriy2 @mullahmetov.d2 @murtazin.ravil2 @ninua.sergey @pulikov.sergey @ratov.dmitriy @remizov.aleksey8 @skripkin.artem5 @vasilev.dmitriy182 @yunisov.ruslan @a.zinovev

/CODEOWNERS @aboltin.nikita @ninua.sergey @pulikov.sergey @a.zinovev
